<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="51200" executionTimeout="300" />
  </system.web>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="WebDAV" />
        <remove name="StaticFile" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
      <staticContent>
        <remove fileExtension=".mp4" />
        <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        <remove fileExtension=".webm" />
        <mimeMap fileExtension=".webm" mimeType="video/webm" />
        <remove fileExtension=".webp" />
        <mimeMap fileExtension=".webp" mimeType="image/webp" />
      </staticContent>
      <aspNetCore processPath=".\MokaPos.Web.exe"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="OutOfProcess"
                  startupTimeLimit="180"
                  shutdownTimeLimit="60">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="DOTNET_ENVIRONMENT" value="Production" />
          <environmentVariable name="DOTNET_hostBuilder__reloadConfigOnChange" value="false" />
        </environmentVariables>
        <handlerSettings>
          <handlerSetting name="debugLevel" value="file,trace" />
          <handlerSetting name="debugFile" value=".\logs\ancm.log" />
        </handlerSettings>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
