<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <aspNetCore processPath=".\MokaPos.Web.exe"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="OutOfProcess"
                  startupTimeLimit="180"
                  shutdownTimeLimit="60">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="DOTNET_ENVIRONMENT" value="Production" />
        </environmentVariables>
        <handlerSettings>
          <handlerSetting name="debugLevel" value="file,trace" />
          <handlerSetting name="debugFile" value=".\logs\ancm.log" />
        </handlerSettings>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
